# ==============================================================================
# 🌍 ENVIRONMENT CONFIG
# ==============================================================================
ENV_NAME=""

# ==============================================================================
# 🔌 PORTAS DA MÁQUINA HOST
# ==============================================================================
HOST_PORT_CLIENT=
HOST_PORT_API=
HOST_PORT_DB=
HOST_PORT_N8N=
HOST_PORT_PGADMIN=

# ==============================================================================
# 🗄️ DATABASE CONFIGURATION
# ==============================================================================
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# O NestJS vai se conectar ao banco através da rede interna do Docker (host: database)

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"

# ==============================================================================
# 🛠️ PGADMIN CONFIGURATION
# ==============================================================================
PGADMIN_DEFAULT_EMAIL=""
PGADMIN_DEFAULT_PASSWORD=""

# ==============================================================================
# 🔐 AUTHENTICATION & SECURITY (JWT)
# ==============================================================================
JWT_SECRET=""
JWT_EXPIRATION=""

# ==============================================================================
# 🤖 INTEGRAÇÃO DE INTELIGÊNCIA ARTIFICIAL
# ==============================================================================
N8N_WEBHOOK_URL=""

# ==============================================================================
# 💻 FRONTEND CONFIGURATION
# ==============================================================================
NEXT_PUBLIC_API_URL=""